*
  box-sizing: border-box

html,
body
  margin: 0
  padding: 0
 

body
  font-size: $type-size-base
  background-image: url('../images/brickwall_@2x.png')



article
  font-size: 0
  margin: 0 auto
  max-width: 900px
  padding: 2rem 0

  & + article
    padding-top: 0


img
  max-width: 100%

figure
  margin: 0

  figcaption
    margin: 1em 0 0 0

nav.home
  padding-top: 60px
  font-size: 16px

  ul
    list-style-type: none
    padding: 0
    margin-left: 0

  li
    float: left
    border-bottom: 1.5px solid $color-grey
    border-top: 1.5px solid $color-grey

  li a
    display: inline-block
    padding: 8px 50px

  li a:hover, li a.active
    background-color: $color-black
    color: $color-white


// Links

a
  color: inherit
  font-family: $type-family-serif
  text-decoration: none


// Images

img
  display: block
  max-width: 100%
