.speakers
  .year
    h6
      padding-bottom: 1rem
    
  .speaker
    color: $color-white
    background-color: $color-black
    margin-bottom: 1rem
    padding: 1rem

    h1
      border-bottom: 1px solid $color-gold
      margin-bottom: 1rem

    .bio, .date, .organizations
      text-align: right

