div.speaker
  width: 200px
  height: 200px
  display: inline-block
  color: $color-white
  background-color: $color-black
  margin: 10px
  padding: 15px 

  h2
    border-bottom: 2px solid $color-gold
    padding: 0 10px
    text-align: center
