.sidebar-home
  nav
    ul
      +reset-list
      margin-bottom: 1rem
      margin-top: 1rem
      border-bottom: 1.5px solid $color-grey
      border-top: 1.5px solid $color-grey

    li
      text-align: center

    li a
      display: block
      padding: 0.25rem 1rem

    li a:hover,
    li a.active
      background-color: $color-black
      color: $color-white

    img
      margin: 0 auto


div.email-sign-up
  padding: 20px
  margin-bottom: 20px
  background-color: $color-gold
  text-align: center
  color: $color-white
  word-spacing: 2px

div.social-media
  background-color: $color-black
  color: $color-white
  padding: 30px
  text-align: left
  padding-bottom: 2rem
  padding-top: 2rem

  img
    margin-top: -28px
    float: right
    margin-bottom: 20px
    margin-left: 25px
    clear:left
//email
.button
  float: right


